{% extends 'base.jinja2' %}

{% block title %}
Ability List
{% endblock %}

{% block content %}
<section>
	<h1>Ability List</h1>

	<table class="data=table" style="width: 90%; margin: auto">
		<tr>
			<th>Name</th>
			<th style="width: 75%">Description</th>
		</tr> 
		{% for ability in abilities %}
		<tr>
			<td><a href="/ability/{{ ability.name|slug }}.html">{{ ability.name }}</a></td>
			<td>{{ ability.desc }}</td>
		</tr>
		{% endfor %}
	</table>
</section>
{% endblock %}