{% from 'macros.jinja2' import base64_image %}
{% extends 'base.jinja2' %}

{% block title %}
Egg Groups
{% endblock %}

{% block content %}
<section>
	<h1>Egg Groups</h1>

	{% for egg_group in egg_groups %}
	<section>
		<h2 id="{{ egg_group.id }}">{{ egg_group.name }}</h2>

	  	{% for pokemon in egg_group.pokemon %}
	  	<figure class="inline">
		    <a href="{{ url_base }}/pokemon/{{ pokemon.id|slug }}.html">{{ base64_image(pokemon.icon) }}</a>
		    <figcaption><a href="{{ url_base }}/pokemon/{{ pokemon.id|slug }}.html">{{ pokemon.name }}</a></figcaption>
	    </figure>
	  	{% endfor %}
	</section>
	{% endfor %}	 
</section>
{% endblock %}