{% from 'macros.jinja2' import base64_image %}
{% extends 'base.jinja2' %}

{% block title %}
Egg Groups
{% endblock %}

{% block content %}
<section>
	<h1>Egg Groups</h1>

	<section>
		<h2>Mechanics</h2>

		<p>Every Pokémon belongs to one or two egg groups, which affect which Pokémon they can breed with. Specifically, the rules are:</p>

		<ul>
			<li>Pokémon in the No Eggs Discovered egg group cannot breed at all.</li>
			<li>A male Pokémon can breed with a female Pokémon as long as there is an egg group that both Pokémon belong to, and neither Pokémon belongs to the No Eggs Discovered egg group.</li>
			<li>Any Pokémon which does not belong to the No Eggs Discovered egg group, and which is not Ditto itself, can breed with Ditto. This applies to genderless Pokémon as well as male and female Pokémon. (In fact, genderless Pokémon can <em>only</em> breed with Ditto, and so, despite the fact that they are assigned an egg group in the game's code, this assigned egg group actually has no significance in the gameplay.)</li>
		</ul>

		<p>The Pokémon the egg hatches into is determined as follows:</p>

		<ul>
			<li>If the parents are a male and female, the egg will hatch into a Pokémon in the same evolutionary family as the mother. Its form will also correspond to that of the mother, unless it is a <a href="/pokemon/rotom.html">Rotom</a> (in which case it will always hatch into a <a href="/pokemon/rotom.html#normal">Normal Form Rotom</a>).</li>
			<li>The Pokémon will be in its base evolution form, unless 
		</ul>



		<p>Specifically, two Pokémon can breed if and only if they are compatible, where compatibility is defined as follows:</p>

		<ul>
			<li>A male Pokémon and a female Pokémon are compatible if, and only if, they share </li>
			<li>Pokémon of any gender (including genderless Pokémon) are compatible with Ditto.
		</ul>

		there exists a pair of egg groups, with the first Pokémon belonging to the first egg group and the second Pokémon belonging to the second egg group.</p>

		<ul>
			<li>neither of them is in the No Eggs Discovered egg group,</li>
			<li>and one of the following two conditions holds:
				<ul>
					<li>neither Pokémon is genderless, the two Pokémon have opposite genders, and there is at least one egg group that both Pokémon belong to;</li>
					<li>oone of the two Pokémon is Ditto.</li>
				</ul>
			</li>
		</ul>

		<p>Note two consequences of these rules:</p>
		<ul>
			<li>Pokémon that are only in the No Eggs Discovered egg group cannot breed at all. (And as it happens, this applies to every Pokémon in the No Eggs Discovered group, since every Pokémon in this group is <em>only</em> in this group, and not in any other egg groups.)</li>
			<li>
		</ul>
	</section>

	{% for egg_group in egg_groups %}
	<section>
		<h2 id="{{ egg_group.id }}">{{ egg_group.name }}</h2>

	  	{% for pokemon in egg_group.pokemon %}
	  	<figure class="inline">
		    <a href="{{ url_base }}/pokemon/{{ pokemon.id|slug }}.html">{{ base64_image(pokemon.icon) }}</a>
		    <figcaption><a href="{{ url_base }}/pokemon/{{ pokemon.id|slug }}.html">{{ pokemon.name }}</a></figcaption>
	    </figure>
	  	{% endfor %}
	</section>
	{% endfor %}	 
</section>
{% endblock %}