{% extends 'base.jinja2' %}

{% block title %}
{{ item.name }}
{% endblock %}

{% block content %}

<div class="backlinks">
	<a href="{{ url_base }}/items.html">Item List</a>
</div>

<section>

<h1>{{ item.name }}</h1>

<table>
	<tr>
		<th>Bag pocket</th>
		<td>{{ item.pocket }}</td>
	</tr>
	<tr>
		<th>Buy price</th>
		<td>{{ item.buy_price }}</td>
	</tr>
	<tr>
		<th>Sell price</th>
		<td>{{ item.sell_price }}</td>
	</tr>
</table>

<section>

<h2>Description</h2>

<p>{{ item.desc }}</p>

</section>

</section>
{% endblock %}