{% from 'macros.jinja2' import type_icon %}
{% extends 'base.jinja2' %}

{% block title %}
{{ move.name }}
{% endblock %}

{% block content %}
<section>
	<h1>{{ move.name }}</h1>

	<table class="data=table" style="width: 90%; margin: auto">
		<tr>
			<th>Damage class</th>
			<td>{{ move.damage_class }}</td>
			<th>Type</th>
			<td><a href="{{ url_base }}/type/{{ move.type|slug }}.html">
				{{ type_icon(move.type) }}
			</a></td>
			<th>Target</th>
			<td>{{ move.target }}</td>
		</tr>
		<tr>
			<th>Power</th>
			<td>{% if move.power is none %}---{% else %}{{ move.power }}{% endif %}</td>
			<th>Accuracy</th>
			<td>{% if move.accuracy is none %}---{% else %}{{ move.accuracy }}{% endif %}</td>
			<th>PP</th>
			<td>{% if move.pp is none %}---{% else %}{{ move.pp }}{% endif %}</td>
		</tr>
		<tr>
			<th>Priority</th>
			<td>{{ move.priority }}</td>
			<th colspan="3">Additional effect chance</th>
			<td>{{ move.additional_effect_chance }}%</td>
		</tr>
		<tr>
			<th colspan="2">Additional effect description</th>
			<td colspan="4">{{ move.function }}</td>
		</tr>
	</table>

	<section>
		<h2>In-game description</h2>

		<p>{{ move.desc }}</p>
	</section>
	
	<section>
	  <h2>Pokémon that learn it</h2>
	  
	  <table class="data-table" style="margin: auto; width: 65%">
	    <tr>
	      <th>Pokémon</th>
	      <th>Methods</th>
	    </tr>
	    {% for learner in move.learners %}
	    <tr>
	      <td><a href="{{ url_base }}/pokemon/{{ learner.name }}.html#{{ learner.form }}">{{ pokemon_form_name(learner.name, learner.form) }}</a></td>
	      <td>
	        <ul>
	        {% for method in learner.learn_methods %}
	        {% if method is not none %}
	        <li>{{ method }}</li>
	        {% endif %}
	        {% endfor %}
	        </ul>
	      </td>
	    </tr>
	    {% endfor %}
	  </table>
	</section>

</section>
{% endblock %}