{% from 'macros.jinja2' import evolution_diagram, type_icon, move_list, stat_table %}
{% extends 'base.jinja2' %}

{% block title %}
{{ pokemon.name }}
{% endblock %}

{% block links %}
{% if pokemon.prev_name is not none %}<link rel="next" href="{{ url_base }}/pokemon/{{ pokemon.prev_name|slug }}.html">{% endif %}
{% if pokemon.next_name is not none %}<link rel="next" href="{{ url_base }}/pokemon/{{ pokemon.next_name|slug }}.html">{% endif %}
{% endblock %}

{% block style %}
	.trainer-spoiler {
		display: none;
	}
{% endblock %}

{% block script %}
<script>
	function selectTab(tabs, selectedIndex) {	
		for (let [i, tab] of tabs.entries()) {
			let target = document.getElementById(tab.dataset.tabTarget);
			if (!target) console.log(`can't find target for tab with id ${target}`);
			
			if (i === selectedIndex) {
				tab.parentElement.classList.add('selected');
				target.style.display = 'block';
			} else {
				tab.parentElement.classList.remove('selected');
				target.style.display = 'none';
			}
		}
	}

	function selectTabFromHash(tabs) {
	  const hashVal = window.location.hash.substr(1);	
		let indexToSelect = 0;

		for (let [i, tab] of tabs.entries()) {
			if (tab.dataset.tabTarget === `hash-tab-${hashVal}`) {
				indexToSelect = i;
			}
		}

		selectTab(tabs, indexToSelect);
	}

	function showOrHideTrainerSpoilers() {
		const box = document.getElementById('show-trainer-spoilers');
		const display = box.checked ? 'block' : 'none';
		const affected = Array.from(document.querySelectorAll('.trainer-spoiler'));

		for (const elem of affected) {
			elem.style.display = display;
		}
	}

	document.addEventListener('DOMContentLoaded', () => {
		let tabLists = Array.from(document.querySelectorAll('.tabs'));

		for (let tabList of tabLists) {
			let tabs = Array.from(tabList.querySelectorAll('.tab'));

			for (let [i, tab] of tabs.entries()) {
				tab.addEventListener('click', event => { event.preventDefault(); selectTab(tabs, i); });
			}

			let hashTabs = tabList.id == 'hash-tabs';

			if (hashTabs) {
				selectTabFromHash(tabs);
				window.addEventListener('hashchange', () => { selectTabFromHash(tabs); })
			} else {
				selectTab(tabs, 0);
			}
		}

		showOrHideTrainerSpoilers();
		document.getElementById('show-trainer-spoilers').addEventListener('change', showOrHideTrainerSpoilers);
	});

	document.addEventListener('keydown', (event) => {
		{% if pokemon.prev_name is not none %}
		if (event.shiftKey && event.code === 'ArrowLeft') {
			window.location.assign('{{ url_base }}/pokemon/{{ pokemon.prev_name|slug }}.html')
		}
		{% endif %}

		{% if pokemon.next_name is not none %}
		if (event.shiftKey && event.code === 'ArrowRight') {
			window.location.assign('{{ url_base }}/pokemon/{{ pokemon.next_name|slug }}.html')
		}
		{% endif %}
	});
</script>
{% endblock %}

{% block content %}
<div class="backlinks">
	{% if pokemon.prev_name is not none %}
	<a href="{{ url_base }}/pokemon/{{ pokemon.prev_name|slug }}.html">&leftarrow; {{ '{0:0>3}'.format(pokemon.number - 1) }} {{ pokemon.prev_name }}</a>
	{% else %}
	<span>&nbsp;</span>
	{% endif %}
	<a href="{{ url_base }}/pokemon.html">Pokémon List</a>
	{% if pokemon.next_name is not none %}
	<a href="{{ url_base }}/pokemon/{{ pokemon.next_name|slug }}.html">{{ '{0:0>3}'.format(pokemon.number + 1) }} {{ pokemon.next_name }} &rightarrow;</a>
	{% else %}
	<span>&nbsp;</span>
	{% endif %}
</div>

<section>
	<h1>{{ pokemon.name }}</h1>

	<div style="display: flex">

		<table class="data-table" style="width: 100%">
			<tr>
				<th>Pokédex number</th>
				<td>{{ '{:0>3}'.format(pokemon.number) }}</td>
				<th>Gender ratio</th>
				<td style="white-space: nowrap">{{ pokemon.male_frequency|gender_ratio }}</td>
				<th>Growth rate</th>
				<td><a href="{{ url_base }}/growth_rates.html#{{ pokemon.growth_rate.id }}">{{ pokemon.growth_rate.name }}</a></td>
			</tr>
			<tr>
				<th>Category</th>
				<td>{{ pokemon.category }} Pokémon</td>
				<th>Steps to hatch</th>
				<td>{{ pokemon.hatch_steps }}</td>
				<th>Base EXP yield</th>
				<td>{{ pokemon.base_exp }}</td>
			</tr>
			<tr>
				<th>Base friendship</th>
				<td>{{ pokemon.base_friendship }}</td>
				<th>Egg groups</th>
				<td colspan="3">
					{% for egg_group in pokemon.egg_groups %}
						<a href="{{ url_base }}/egg_groups.html#{{ egg_group.id }}">{{ egg_group.name }}</a>{% if not loop.last %},{% endif %}
					{% endfor %}
					{% if pokemon.breedability == 'none' %}
						(can't breed)
					{% elif pokemon.breedability == 'ditto-only' %}
						(can only breed with <a href="{{ url_base }}/pokemon/ditto.html">Ditto</a>)
					{% endif %}
				</td>
			</tr>
		</table>

	</div>

	<hr>
	
	{% if len(pokemon.forms) > 1 %}
	<ul class="tabs" id="hash-tabs">
		{% for form in pokemon.forms %}
		<li><a class="tab" href="#" data-tab-target="hash-tab-{{ form.name|slug }}">{{ form.name or 'Normal' }}</a></li>
		{% endfor %}
	</ul>
	<div class="tab-targets">
	{% endif %}

	{% for form in pokemon.forms %}

		{% if len(pokemon.forms) > 1 %}
		<section id="hash-tab-{{ form.name|slug }}">
			<h2 class="tab">{{ form.name or 'Normal' }} Form</h2>
		{% endif %}

		<div style="display: flex; justify-content: space-between; margin-bottom: 1em">
			<figure style="margin-right: 0.4em">
			  {% if form.sprite is none %}
			  <div style="width: 192px; height: 192px"></div>
			  {% else %}
			  <img src="data:image/png;base64,{{ form.sprite }}" alt="" width="192" height="192">
			  {% endif %}
				<!--<img src="/img/pokemon/{{ '{0:0>3}'.format(pokemon.number) }}_{{ form.order }}.png">-->
				<figcaption>
				  <a href="{{ url_base }}/pokemon_sprites/{{ pokemon.name|slug }}_{{ form.name|slug }}.html">More sprites</a>
				</figcaption>
			</figure>

			<table class="data-table" style="width: 40%; margin-right: 0.5em">
				<tr>
					<th style="width: 4em">Type</th>
					<td style="flex: 1">
						{% for type in form.types %}
							{{ type_icon(type) }}
						{% endfor %}
					</td>
				</tr>
				{% if form.double_weaknesses %}
				<tr>
					<th>Double weaknesses</th>
					<td>{% for type in form.double_weaknesses %} {{ type_icon(type) }} {% endfor %}</td>
				</tr>
				{% endif %}
				{% if form.weaknesses %}
				<tr>
					<th>Weaknesses</th>
					<td>{% for type in form.weaknesses %} {{ type_icon(type) }} {% endfor %}</td>
				</tr>
				{% endif %}
				{% if form.resistances %}
				<tr>
					<th>Resistances</th>
					<td>{% for type in form.resistances %} {{ type_icon(type) }} {% endfor %}</td>
				</tr>
				{% endif %}
				{% if form.double_resistances %}
				<tr>
					<th>Double resistances</th>
					<td>{% for type in form.double_resistances %} {{ type_icon(type) }} {% endfor %}</td>
				</tr>
				{% endif %}
				{% if form.immunities %}
				<tr>
					<th>Immunities</th>
					<td>{% for type in form.immunities %} {{ type_icon(type) }} {% endfor %}</td>
				</tr>
				{% endif %}
			</table>

			<table class="data-table" style="width: 55%; margin-left: 0.5em; table-layout: fixed">
				<tr>
					<th style="width: 5em">Abilities</th>
					<th style="width: 4em">Name</th>
					<th>Description</th>
				</tr>
				<tr>
					<th rowspan="2">Regular Abilities</th>
					<td {% if '2' not in form.abilities %} rowspan="2" {% endif %}><a href="../ability/{{ form.abilities['1'].name|slug }}.html">{{ form.abilities['1'].name }}</a></td>
					<td {% if '2' not in form.abilities %} rowspan="2" {% endif %}>{{ form.abilities['1'].desc }}</td>
				</tr>
				<tr>
				{% if '2' in form.abilities %}
					<td><a href="{{ url_base }}/ability/{{ form.abilities['2'].name|slug }}.html">{{ form.abilities['2'].name }}</a></td>
					<td>{{ form.abilities['2'].desc }}</td>
				{% endif %}
				</tr>
				{% if '3' in form.abilities %}
				<tr>
					<th>Hidden Ability</th>
					<td><a href="{{ url_base }}/ability/{{ form.abilities['3'].name|slug }}.html">{{ form.abilities['3'].name }}</a></td>
					<td>{{ form.abilities['3'].desc }}
				</td>
				{% endif %}
			</table>
		</div>

		<table class="data-table" style="width: 100%">
			{% if form.mega_evolution.method is not none %}
			<tr>
				<th>Mega Evolution method</th>
				<td colspan="5">
					{% if form.mega_evolution.method == 'item' %}
						Hold the item <a href="{{ url_base }}/move/{{ form.mega_evolution.item.name|slug }}.html">{{ form.mega_evolution.item.name }}</a>
					{% elif form.mega_evolution.method == 'move' %}
						Know the move <a href="{{ url_base }}/move/{{ form.mega_evolution.move.id }}.html">{{ form.mega_evolution.move.name }}</a>
					{% endif %}
				</td>
			</tr>
			{% endif %}
			<tr>
				<th>Pokédex entry</th>
				<td colspan="5">{{ form.pokedex_entry }}
			</td>
			<tr>
				<th>Height</th>
				<td>{{ form.height_feet }}&prime;{{ form.height_inches }}&Prime; / {{ form.height_m }} m</td>
				<th>Weight</th>
				<td>{{ form.weight_pounds }} lb / {{ form.weight_kg }} kg</td>
				<th>Catch Rate</th>
				<td>{{ form.catch_rate }}</td>
			</tr>
			<tr>
				<th scope="row">Wild held items</th>
				<td colspan="5">
				{% if form.wild_held_items %}
					{% for item in form.wild_held_items %}
						<a href="{{ url_base }}/item/{{ item.name|slug }}.html">{{ item.name }}</a> ({{ item.rarity }}%){% if not loop.last %},{% endif %}
					{% endfor %}
				{% else %}
					None
				{% endif %}
				</td>
			</tr>
			{% if form.babies %}
			<tr>
				<th scope="row">Eggs hatch into</th>
				<td colspan="5">
				{% for baby in form.babies %}
					<a href="{{ url_base }}/pokemon/{{ baby.name|slug }}.html#{{ baby.form|slug }}">{{ pokemon_form_name(baby.name, baby.form) }}</a>
					{% if baby.incense.relation != 'na' %}
						{% if baby.incense.relation == 'holding' %}
						(if a parent holds <a href="{{ url_base }}/item/{{ baby.incense.name|slug }}.html">{{ baby.incense.name }}</a>){% else %}
						(otherwise){% endif %}{% endif %}{% if baby.probability < 1 %}
							({{ '{0:g}'.format(baby.probability * 100) }}% chance){% endif %}{% if not loop.last %},{% endif %}
				{% endfor %}
				</td>
			</tr>
			{% endif %}
		</table>

		<section>
			<h3>Stats</h3>

			<table class="data-table" style="width: 100%">
				<tr>
					<th></th>
					<th>HP</th>
					<th>Attack</th>
					<th>Defense</th>
					<th>Speed</th>
					<th>Special Attack</th>
					<th>Special Defense</th>
					<th>Total</th>
				</tr>
				<tr>
					<th>Base stats</th>
					<td>{{ form.base_stats['HP'] }}</td>
					<td>{{ form.base_stats['ATK'] }}</td>
					<td>{{ form.base_stats['DEF'] }}</td>
					<td>{{ form.base_stats['SPD'] }}</td>
					<td>{{ form.base_stats['SA'] }}</td>
					<td>{{ form.base_stats['SD'] }}</td>
					<td>{{ form.bst }}</td>
				</tr>
				<tr>
					<th>EV yields</th>
					<td>{{ form.ev_yields['HP'] or 0 }}</td>
					<td>{{ form.ev_yields['ATK'] or 0 }}</td>
					<td>{{ form.ev_yields['DEF'] or 0 }}</td>
					<td>{{ form.ev_yields['SPD'] or 0 }}</td>
					<td>{{ form.ev_yields['SA'] or 0 }}</td>
					<td>{{ form.ev_yields['SD'] or 0 }}</td>
					<td>{{ form.evtot }}</td>
				</tr>
			</table>
		</section>

		{% if form.evo_tree is not none and form.evo_tree[0].children %}
		<section>
			<h3>Evolution</h3>

			<div class="evo-line">
				{% for branch in form.evo_tree %}				
				{{ evolution_diagram(pokemon, form, branch) }}
				{% endfor %}
			</div>
		</section>
		{% endif %}

		<section>
			<h3>Moves</h3>

			<div class="move-sections">
				<div>
				<section>
					<h4>Learnt by levelling up</h4>

					<table>
						<tr>
							<th>Level</th>
							<th>Move</th>
						</tr>
						{% for move in form.level_moves %}
						<tr>
							<td>{{ move.level }}</td>
							<td><a href="{{ url_base }}/move/{{ move.id }}.html">{{ move.name }}</a></td>
						</tr>
						{% endfor %}
					</table>

				</section>
				{% if form.evolution_moves %}
				<section>
					<h4>Learnt on evolution</h4>

					<table>
						{% for move in form.evolution_moves %}
						<tr>
							<td><a href="{{ url_base }}/move/{{ move.id }}.html">{{ move.name }}</a></td>
						</tr>
						{% endfor %}
					</table>
				</section>
				{% endif %}
				
				{% if form.preevo_moves %}
				<section>
				  <h4>Learnt from a pre-evolution</h4>
				  
				  <table>
				    <tr>
				      <th>Pre-evolution</th>
				      <th>Move</th>
				      <th>Method</th>
				    </tr>
				    {% for move in form.preevo_moves %}
				    <tr>
				      <td><a href="{{ url_base }}/pokemon/{{ move.preevo|slug }}.html#{{ move.preevo_form }}">{{ pokemon_form_name(move.preevo, move.preevo_form) }}</a></td>
				      <td><a href="{{ url_base }}/move/{{ move.id }}.html">{{ move.name }}</a></td>
				      <td>
				        {% if move.method == 'level' %}
				          {% if move.level == 0 %}
				            Evolution
				          {% else %}
  				          Level {{ move.level }}
				          {% endif %}
				        {% elif move.method == 'machine' %}
				          TM/TMX
			            {% elif move.method == 'egg' %}
			              Egg Move
				        {% elif move.method == 'tutor' %}
				          Move Tutor
				        {% endif %}
				      </td>
				    </tr>
				    {% endfor %}
				  </table>
				</section>
				{% endif %}
				
				</div>
				{% if form.egg_moves %}
				<section>
					<h4>Egg Moves</h4>

					<table>
						{% for move in form.egg_moves %}
						<tr>
							<td><a href="{{ url_base }}/move/{{ move.id }}.html">{{ move.name }}</a></td>
						</tr>
						{% endfor %}
					</table>
				</section>
				{% endif %}
				{% if form.machine_moves %}
				<section>
					<h4>Learnt from TMs/TMXs</h4>

					<table>
						<tr>
							<th>Item</th>
							<th>Move</th>
						</tr>
						{% for move in form.machine_moves %}
						<tr>
							<td><a href="{{ url_base }}/item/{{ move.item|slug }}.html">{{ move.item }}</a></td>
							<td><a href="{{ url_base }}/move/{{ move.id }}.html">{{ move.name }}</a></td>
						</tr>
						{% endfor %}
					</table>
				</section>
				{% endif %}
				{% if form.tutor_moves %}
				<section>
					<h4>Learnt from Move Tutors</h4>

					<table>
						{% for move in form.tutor_moves %}
						<tr>
							<td><a href="{{ url_base }}/move/{{ move.id }}.html">{{ move.name }}</a></td>
						</tr>
						{% endfor %}
					</table>
				</section>
				{% endif %}
			</div>
		</section>

		<section>
			<h3>Encounter rates</h3>

			{% if form.encounters %}
			<table style="width: 70%; margin: auto">
				<tr>
					<th>Area ID</th>
					<th>Area name</th>
					<th>Encounter method</th>
					<th>Level range</th>
					<th>Rate</th>
				</tr>
				{% for encounter in form.encounters %}
				<tr>
					<td><a href="{{ url_base }}/area/{{ encounter.map_id }}.html">{{ encounter.map_id }}</a></td>
					<td>{{ encounter.map_name }}</td>
					<td>{{ encounter.method }}</td>
					<td>{{ encounter.level_range|ranges_from_list }}
					<td>{{ encounter.rate|frac_mixed }} %</td>
				</tr>
				{% endfor %}
			</table>
			{% else %}
			<p>There are no regular wild encounters for this Pokémon.</p>
			{% endif %}

			{% if pokemon.fossil %}
				<p>This Pokémon can be revived from {{ an(pokemon.fossil) }} <a href="{{ url_base }}/item/{{ pokemon.fossil|slug }}.html">{{ pokemon.fossil }}</a>.</p>
			{% endif %}
		</section>		

		{% if form.special_encounters %}
		<section>
			<h3>Special encounters</h3>

			<table style="margin: auto">
				<tr>
					<th>Area/event</th>
					<th>Encounter type</th>
					<th>Level</th>
					<th>Other attributes of note</th>
				</tr>
				{% for encounter in form.special_encounters %}
				<tr>
					<td>
						{% if encounter.map_id %}
							<a href="{{ url_base }}/area/{{ encounter.map_id }}.html">{{ encounter.map_id }}</a> ({{ encounter.map_name }}; event {{ encounter.event }})
						{% else %}
							Common event {{ encounter.event }}
						{% endif %}
					</td>
					<td>{{ encounter.type }}</td>
					<td>
						{% if encounter.level == 0 %}
							1 (egg)
						{% else %}
							{{ encounter.level }}
						{% endif %}
					</td>
					<td>
						{% if encounter.nickname %}
							<div><b>Nickname</b>: {{ encounter.nickname }}</div>
						{% endif %}
						{% if encounter.hp %}
							<b>HP</b>: {{ encounter.hp }}
						{% endif %}
						{% if encounter.gender %}
							<div><b>Gender</b>: {{ encounter.gender }}</div>
						{% endif %}
						{% if encounter.held_item %}
							<b>Held item</b>: <a href="{{ url_base }}/item/{{ encounter.held_item|slug }}.html">{{ encounter.held_item }}</a>
						{% endif %}
						{% if encounter.friendship %}
							<b>Friendship</b>: {{ encounter.friendship }}
						{% endif %}
						{% if encounter.ability %}
							<div><b>Ability</b>: <a href="{{ url_base }}/ability/{{ encounter.ability|slug }}.html">{{ encounter.ability }}</a></div>
						{% endif %}
						{% if encounter.move_preference.id %}
							<div><abbr title="All wild Pokémon have a move preference, which is one of their four moves that they are a little more likely to use in battle than the others. Most of the time the move preference is chosen randomly, but for this encounter it is set to a specific move."><b>Move preference</b></abbr>: <a href="{{ url_base }}/move/{{ encounter.move_preference.id }}.html">{{ encounter.move_preference.name }}</a></div> 
						{% endif %}
						{% if encounter.ot is not none %}
							<div><b><abbr title="Original Trainer">OT</abbr></b>: {{ encounter.ot }}</div>
							<div>
								<b>Trainer ID</b>:
								{% if encounter.trainer_id == '$RANDOM' %}
									<abbr title="A random 32-bit integer distinct from the current player's trainer ID.">random</abbr>
								{% else %}
									{{ encounter.trainer_id }}
								{% endif %}
							</div>
						{% endif %}
						{% if encounter.move_sets %}
							{% if encounter.move_sets|length == 1 %}
								<div>
								<b>Moves</b>:
								{% for move in encounter.move_sets[0] %}
									<a href="{{ url_base }}/move/{{ move.id }}.html">{{ move.name }}</a>{% if not loop.last %},{% endif %}
								{% endfor %}
								</div>
							{% else %}
								<div><b>Moves</b>:</div>
								{% set set_count = encounter.move_sets|length %}
								{% set per_set_chance = '1/' ~ set_count %}
								{% for move_set in encounter.move_sets %}
									<div>
									{% for move in move_set %}
										<a href="{{ url_base }}/move/{{ move.id }}.html">{{ move.name }}</a>{% if not loop.last %},{% endif %}
									{% endfor %}
									({{ per_set_chance | frac_mixed }} chance)
									</div>
								{% endfor %}
							{% endif %}
						{% endif %}
						{% if encounter.ivs %}
							{% for iv in encounter.ivs %}
								<div><b>{{ iv.stat }} IV</b>: {{ iv.value }}</div>
							{% endfor %}
						{% endif %}
					</td>
				</tr>
				{% endfor %}
			</table>
		</section>
		{% endif %}

		<section>
			<h3>Appearances in Trainer teams</h3>

			<p><input type="checkbox" id="show-trainer-spoilers" value="1"> Show trainer names and Pokémon nicknames (these may constitute spoilers)</p>

			{% for appearance in form.appearances %}

			<div style="display: flex; justify-content: space-evenly; margin-bottom: 1em">
				<figure style="margin-right: 0.4em" class="trainer-spoiler">
					<a href="{{ url_base }}/trainer/{{ appearance.trainer_id|slug }}.html">
						<img
							src="data:image/png;base64,{{ appearance.trainer_sprite }}"
							alt="{{ appearance.trainer_id }}"
							width="192"
							height="192"
						>
					</a>
					<figcaption>
						<b><a href="{{ url_base }}/trainer/{{ appearance.trainer_id|slug }}.html">{{ appearance.trainer_id }}</a></b>
						{% if appearance.nickname %} ("{{ appearance.nickname }}") {% endif %}
					</figcaption>
				</figure>

				<div style="display: flex; flex-direction: column">
					<div>
					Level {{ appearance.level }},
					{% if appearance.item is none %}
						no item,
					{% else %}
						holding <a href="{{ url_base }}/item/{{ appearance.item|slug }}.html">{{ appearance.item }}</a>,
					{% endif %}
					{% if appearance.gender is none %}
						<abbr title="The Pokémon's gender will be randomly determined at the start of the battle, with the chance of it being male or female being determined by the species's gender ratio, the same as for a wild Pokémon.">random gender</abbr>,
					{% else %}
						{{ appearance.gender|lower }},
					{% endif %}
					{{ appearance.friendship }} friendship
					<br>
					{% for ability in appearance.abilities %}<a href="{{ url_base }}/ability/{{ ability|slug }}.html">{{ ability }}</a>{% if not loop.last %}/{% endif %}{% endfor %}{% if len(appearance.abilities) > 1 %} (<abbr title="The Pokémon will have one of these abilities randomly chosen for it at the start of the battle.">?</abbr>){% endif %};
					{{ appearance.nature }} nature
					</div>
					<div style="display: flex; align-items: center; justify-content: space-between;">
						{{ move_list(appearance.moves, 'Moves') }}
						{{ stat_table(appearance.evs, appearance.ivs, appearance.stats, 'Stats') }}
					</div>
				</div>
			</div>

				{#
				<div class="moveset">
					<div class="trainer-spoiler">
						<a href="{{ url_base }}/trainers/{{ appearance.trainer|slug }}">{{ appearance.trainer }}</a></span>
						{% if appearance.nickname %}

						&ndash;
						"{{ appearance.nickname }}""
						({{ appearance.shiny }})
					</div>
					<div>
						Level {{ appearance.level }},
						{% if appearance.item %} holding <a href="{{ url_base }}/item/{{ appearance.item|slug }}">{{ appearance.item }}</a>, {% endif %}
						{% if appearance.gender is none %} random gender, {% else %} {{ appearance.gender|lower }}, {% endif %}
						{{ appearance.friendship }} friendship
					</div>
					<div>
					{% for ability in appearance.abilities %}<a href="{{ url_base }}/ability/{{ ability|slug }}">{{ ability }}</a>{% if not loop.last %}/{% endif %}{% endfor %};
					{{ appearance.nature }} nature
					</div>
					<table>
						<tr>
							<th></th>
						{% for ev in pokemon.evs %}
							<th>{{ ev.stat }}</th>
						{% endfor %}
						</tr>
						<tr>
							<th>Values</th>
						{% for statval in pokemon.stats %}
							<td>{{ statval.value }}</td>
						{% endfor %}
						</tr>
						<tr>
							<th>EVs</th>
						{% for ev in pokemon.evs %}
							<td>{{ ev.value }}</td>
						{% endfor %}
						</tr>
						<tr>
							<th>IVs</th>
						{% for iv in pokemon.ivs %}
							<td>{{ iv.value }}</td>
						{% endfor %}
						</tr>
					</table>
				</div>


				#}

			{% endfor %}
		</section>

		{% if len(pokemon.forms) > 1 %}
		</section>
		{% endif %}
	{% endfor %}
	{% if len(pokemon.forms) > 1 %}</div>{% endif %}
</section>
{% endblock %}