{% from 'macros.jinja2' import base64_image %}
{% extends 'base.jinja2' %}

{% block title %}
Pokémon List
{% endblock %}

{% block style %}
figure { display: inline-block; }

.sprite {
	display: block;
	background-repeat: no-repeat;
	width: 192px;
	height: 192px;
	margin-bottom: 0.4em;
}
{% endblock %}

{% block content %}
<div class="backlinks">
	{% if shiny %}
	<a href="{{ url_base }}/pokemon.html">Non-shiny sprites</a>
	{% else %}
	<a href="{{ url_base }}/shiny_pokemon.html">Shiny sprites</a>
	{% endif %}
</div>

<section>
	<h1>Pokémon List</h1>

	{% set SPRITE_SIZE = 192 %}

	<div style="text-align: center">
	{% for pokemon in pokemons %}
	<figure>
		<a href="{{ url_base }}/pokemon/{{ pokemon.name|slug }}.html">{{ base64_image(pokemon.sprite, '', SPRITE_SIZE, SPRITE_SIZE) }}</a>
		<figcaption>
			{{ '{0:0>3}'.format(pokemon.number) }}
			<a href="{{ url_base }}/pokemon/{{ pokemon.name|slug }}.html">{{ pokemon.name }}</a>
		</figcaption>
	</figure>
	{% endfor %}
	</div>
</section>
{% endblock %}