{% from 'macros.jinja2' import pokemon_sprite_row %}
{% extends 'base.jinja2' %}

{% block title %}
{{ pokemon_form_name(pokemon, form) }} Sprites
{% endblock %}

{% block content %}
<section>
  <h1>{{ pokemon_form_name(pokemon, form) }} Sprites</h1>
  
  <table class="data-table">
    <tr>
      <th></th>
      <th colspan="2">Non-shiny</th>
      <th colspan="2">Shiny</th>
    </tr>
    {% if genderdiff %}
    <tr>
      <th></th>
      <th>Male</th>
      <th>Female</th>
      <th>Male</th>
      <th>Female</th>
    </tr>
    {% endif %}
    <tr>
      <th>Front</th>
      {{ pokemon_sprite_row(front_sprite) }}
    </tr>
    <tr>
      <th>Back</th>
      {{ pokemon_sprite_row(back_sprite) }}
    </tr>
    {% if egg_sprite.exists %}
    <tr>
      <th>Egg</th>
      {{ pokemon_sprite_row(egg_sprite) }}
    </tr>
    {% endif %}
    <tr>
      <th>Icon</th>
      {{ pokemon_sprite_row(icon) }}
    </tr>
    {% if egg_icon.exists %}
    <tr>
      <th>Egg icon</th>
      {{ pokemon_sprite_row(egg_icon) }}
    </tr>
    {% endif %}
  </table>
</section>
{% endblock %}